# Core (atomistic chain, analysis, VAR)
numpy
scipy
pandas
h5py
natsort
tqdm
scikit-learn
statsmodels
matplotlib
scienceplots
torch
torchvision
Pillow
# Only to generate STEM images from *.cfg (generate/)
abtem==1.0.6
ase
